footer.footer.bg-white.border-top.mt-4
    div.container.py-lg-4.py-3.px-3.text-end
        | @ #{new Date().getFullYear()} - Made with ❤️ by #[a(href="https://boutdecode.fr", target="_blank") Kevin] - all rights reserved
