.h-lg-full {
    height: 100% !important;
}

.h-lg-screen {
    height: 100vh !important;
}

.h-screen {
    height: 100vh !important;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.overlap-10 {
    z-index: 10 !important;
}

.pointer {
    cursor: pointer;
}

[draggable] {
    cursor: move;
    transition: box-shadow .5s;
}

.moving {
    @extend .shadow-sm;

    transition: box-shadow .3s;
}
