$primary:       #0433BF !default;
$secondary:     #C9CDCE !default;
$success:       #0ABF04 !default;
$info:          #87CAD7 !default;
$warning:       #BFB304 !default;
$danger:        #BF1111 !default;
$light:         #f8f9fa !default;
$dark:          #181816 !default;

$border-color: #eceef3;
$border-radius: .50rem;
//$border-radius-sm: .4rem;
//$border-radius-lg: .6rem;
//$border-radius-pill: 50rem;

$box-shadow-sm: 0 .250rem .50rem rgba(#000, .075);

$enable-shadows: true;
//$enable-gradients: true;

$card-border-color: $border-color;
$card-border-radius: .75rem;

$table-hover-bg-factor: .030;
